extends layout 

block content 

    h1= title
    
    h3= book.title 

    if bookinstances.length
        p To delete the Book please delete the Following book Instances.
        ul
        for bookinstance in bookinstances 
            li 
                a(href=bookinstance.url+'/delete') #{bookinstance.imprint} 
             
    
    else 
        p Are you sure you want to delete this Book?

        form(method="POST")
            div.form-group
                input#bookid.form-control(type='hidden', name='bookid', value=book._id)
            button.btn.btn-primary(type='submit')   Delete